@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer components {
  .header {
    @apply bg-violet text-heading h-heading flex justify-center items-center text-white;
  }
  .filter {
    @apply block mx-4 my-2 sm:my-4;
  }
  .selector {
    @apply relative border border-black rounded-lg bg-white mt-2;
  }
  .selected_name {
    @apply p-4 cursor-pointer flex justify-between items-center w-full;
  }
  .options {
    @apply border-t bg-white shadow-lg absolute w-full mt-2;
  }
}
