@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@layer components {
  .header {
    @apply bg-violet text-heading h-heading flex justify-center items-center text-white;
  }
}
